.idea
node_modules
logs/*
storage/origin/*
!storage/origin/EasternDefaultCanteen.png
!storgae/origin/EasternDefaultOffice.png
!storage/origin/EasternDefaultServiceCenter.png
!storage/origin/.gitkeep

